.vendorList {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
}

.truckImage {
  width: 40%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid rgb(199, 199, 199);
}

.reservationLink {
  font-size: 150%;
  color: #41b643 !important;
  text-decoration: none;
  border: 2px solid #41b643;
  border-radius: 9px;
  padding: 10px;
}

.reservationLinkContainer {
  margin-top: 2%;
}
