:root {
  --green: #41b643;
  --orange: #F97242;
  --white: #E6E6E6;
}

header {
  font-family: 'Fjalla One', sans-serif;
}

body {
  background-color: var(--white);

font-family: 'Radley', serif;
}

h1,
h3 {
  text-align: center;
}

h2 {
  color: black;
}

.pageContainer {
  display: flex;
  justify-content: center;
}

.vendorContainer {
  width: 80%;
  text-align: center;
}

.vendorCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navIcon {
  cursor: pointer;
  margin: 0 20px;
}

.vendorList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.vendorItem {
  flex-basis: calc(33.333% - 20px); /* Adjust vendor width for 3 vendors in a row */
  margin-bottom: 20px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .vendorItem {
    flex-basis: 100%; /* Full width for 1 vendor in a row on small screens */
  }
  .categoriesContainer {
    grid-template-columns: repeat(3, 1fr); 
  }
}

.clicked {
  color: var(--green);
}

.categoriesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.categoryImage {
  height: auto;
  width: 100%;
}

.categoryTile {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.categoryTile h2 {
  margin-top: 0;
}

.categoryTile p {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .categoriesContainer {
    grid-template-columns: 1fr; /* Single column layout on smaller screens */
  }
}
