:root {
  --green: #41b643;
  --orange: #F97242;
  --white: #E6E6E6;
}

header {
  font-family: 'Fjalla One', sans-serif;
}

body {
  background-color: var(--white);
  font-family: 'Radley', serif;
}

h1,
h3 {
  text-align: center;
}

.footer {
  background-color: var(--orange);
  margin-top: 15px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}


